@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* Custom animations */
@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

/* Smooth scrolling for the entire page */
html {
  scroll-behavior: smooth;
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Navbar link styles */
.nav-link {
  position: relative;
  cursor: pointer;
  background: transparent;
  color: #fff;
}

.nav-link-text {
  position: relative;
  z-index: 1;
}

.border-glow {
  pointer-events: none;
  position: absolute;
  opacity: 0;
  --w: 2px;
  --t: -40px;
  --s: calc(var(--t) * -1);
  --e: calc(100% + var(--t));
  --g: #fff0, #fff3 var(--s), #fffa var(--s), #fff, #fffa var(--e),
    #fff3 var(--e), #fff0;
  transition: opacity 0.3s ease;
}

.nav-link:hover .border-glow {
  opacity: 1;
}

.border-glow::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  filter: blur(4px);
  z-index: -2;
}

.border-glow::after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  filter: blur(10px);
  z-index: -2;
}

.border-left {
  left: -2px;
  background: linear-gradient(var(--g));
  top: var(--t);
  bottom: var(--t);
  width: var(--w);
}

.border-right {
  right: -2px;
  background: linear-gradient(var(--g));
  top: var(--t);
  bottom: var(--t);
  width: var(--w);
}

.border-top {
  top: -2px;
  background: linear-gradient(90deg, var(--g));
  left: var(--t);
  right: var(--t);
  height: var(--w);
}

.border-bottom {
  bottom: -2px;
  background: linear-gradient(90deg, var(--g));
  left: var(--t);
  right: var(--t);
  height: var(--w);
}
